.icon-gitlab {
	background-image: url(./../img/app-dark.svg);
	filter: var(--background-invert-if-dark);
}

/* for NC <= 24 */
body.theme--dark .icon-gitlab {
	background-image: url(./../img/app.svg);
}
